@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: rgba(0, 195, 255);
}

::selection {
  color: #fff;
  background: rgba(0, 195, 255);
}

.transform-scale:hover {
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}
